.footer-custom{
    margin-left: 0 !important;
    padding: 30px 60px !important;
    height: 40vh;
  }
  
  .custom-padding{ 
    padding-left: 30px !important;
  }

  .social-padding{
    padding-left: 4% !important;
  }

  .w-custom{
    width: 98% !important;
  }
  .line{
    line-height: 1;
  }