.Download-button-media{
    background-color: transparent !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    margin-left: 5% ;
    margin-bottom: 2% ;
    border-color: white !important;
    border-radius: 50px !important;
}
.Download-button-media:hover{
    background-color: #ffffff !important;
    color: #000000  !important;
    border: 1px solid #000000 !important ;
}
.custom-text-media{
    margin-left: 5%;
}